@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";


.p-sec {
    height: 100%;
    position: relative;
    margin: 100px auto;

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        letter-spacing: 30px;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
}



.project-section {
    @include Profile;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.project-left {

    img {
        width: 300px;
        height: 450px;
        border-radius: 10px;
    };
}

.project-right {
    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 5px;
        text-align: center;
        line-height: 1.5;
    }

    p {
        width: 80%;
        margin: 20px auto;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
    }
}

.p-sec .tech {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 20px;
    }

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        
        li {
            font-size: 30px;
            transition: all 0.3s;
            cursor: pointer;
            
             &:hover {
            transform: scale(1.1) translateY(-5px);
    }
    
    &.tech-react:hover {
        color: #61dafb;
    }
    
    &.tech-javascript:hover {
        color: #f7df1e;
    }
    
    &.tech-tailwind:hover {
        color: #06b6d4;
    }
    
    &.tech-typescript:hover {
        color: #3178c6;
    }
    
    &.tech-java:hover {
        color: #007396;
    }
    
    &.tech-springboot:hover {
        color: #6db33f;
    }
    
    &.tech-drizzle:hover {
        color: #C5F74F;
    }
    
    &.tech-nodejs:hover {
        color: #339933;
    }
    
    &.tech-docker:hover {
        color: #2496ed;
    }
    
    &.tech-mysql:hover {
        color: #4479a1;
    }
    
    &.tech-sass:hover {
        color: #cc6699;
    }
    
    &.tech-express:hover {
        color: #68a063;
        
    }
    
    &.tech-maven:hover {
        color: #C71A36;
    }
    
    &.tech-postgresql:hover {
        color: #4169E1;
    }
            
        }
    
       }
}

.project-links {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;

    a {
        padding-right: 40px;
        margin-top: 18px;
        color: #000;
        transition: all 0.3s;

        &.github {
            margin-top: 20px;
            font-size: 40px;
            
        }

        &.github:hover {
            color: #2b3137;
            transform: scale(1.1) translateY(-5px);
        }
        button {
            background-color: $hover-text-color;
            color: $text-color;
            border: 2px solid transparent;
            border-radius: 10px;
            outline: none;
            padding: 10px 10px;
            font-size: 15px;
            font-weight: 700;
            transition: all 0.5s;
            cursor: pointer;
            box-shadow: 0 0 10px $text-color;
        &:hover {
            background-color: $background-color;
            color: $text-color;
            }
        }

    }
}

// responsive design 
@media only screen and (max-width: 1280px) {
    .project-section {
        flex-direction: column;
        transition: all 0.5s ease-in-out;
    }

    .tech {
        justify-content: center;
    }

}

// responsive design for tablets devices 
@media only screen and (max-width: 768px) {
    .p-sec {
        h1 {
            font-size: 30px;
            letter-spacing: 10px;
            margin: auto;
            border-bottom: 1px solid #000;
            width: 80%;
        }

    }

    .project-section {
        flex-direction: column;
    }

    .project-left {
        img {
            width: 300px;
            height: 400px;
        }
    }

    .project-right {
        h2 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
        }
    }

    .p-sec .tech {
        display: flex;
        flex-direction: row;
        justify-content: center;
        h2 {
            font-size: 15px;
        }

        ul {
            padding: 0;
            li {
                font-size: 25px;
                &.tech-react { color: #61dafb; }
                &.tech-javascript { color: #f7df1e; }
                &.tech-tailwind { color: #06b6d4; }
                &.tech-typescript { color: #3178c6; }
                &.tech-java { color: #007396; }
                &.tech-springboot { color: #6db33f; }
                &.tech-drizzle { color: #C5F74F; }
                &.tech-nodejs { color: #339933; }
                &.tech-docker { color: #2496ed; }
                &.tech-mysql { color: #4479a1; }
                &.tech-sass { color: #cc6699; }
                &.tech-express { color: #68a063; }
                &.tech-maven { color: #C71A36; }
                &.tech-postgresql { color: #4169E1; }
                
            }
        }
    }
    .project-links {

        a {
           &.github {
            font-size: 30px;
           }

           button {
            font-size: 12px;
            font-weight: 600;
           }
        }   
    }

}

// responsive design for phones
@media only screen and (max-width: 430px) {

    .project-section {
        .project-left {
            img {
                width: 260px;
                height: 300px;
            }
        }

        .project-right {
            h2 {
                font-size: 15px;
                padding: 5px 0;
            }

            p {
                font-size: 15px;
                margin: 10px auto;
                padding: 2px 15px;
            }
        }
    }

    .p-sec .tech {
        display: flex;
        flex-direction: column;
        align-items: center;;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            
            li {
                display: flex;
                flex-wrap: wrap;
                font-size: 25px;
                padding-right: 10px;
                padding: 0;
            }
        }
    }

    .project-links {
        justify-content: center;  // Ensure links are centered
        gap: 15px;  // Reduce gap for smaller screens
        
        a {
            padding-right: 0;  // Remove the 40px padding
            
            &.github {
                font-size: 30px;
            }
            
            button {
                font-size: 12px;
                padding: 8px 8px;
            }
        }
    }
}
