@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";


.profile-content {
    @include Profile;
    width: 100%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: $dark-background-color;
    img {
        width: 400px;
        height: 550px;
        padding: 40px;
    }
}

.rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 100vh;
}

.skills-section {
    padding: 1rem;
    display: flex;

}

.skills-section ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-section li {
    align-items: center;
    margin-bottom: 0.5rem;
}
