@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";
// font family for headings 
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Pacifico&display=swap');
// font family for paragraph
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Pacifico&display=swap');


.profile-content {
    @include Profile;
    width: 80%;
    height: 100%;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;


    img {
        width: 400px;
        height: 550px;
        border: 2px solid $hover-text-color;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; 
        box-shadow: 0 0 35px $hover-text-color;
        animation: linemoves 8s ease-in-out infinite;
        transition: all 0.5s ease-in-out;
    }

    /* border lines moves */
@keyframes linemoves {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
}

// right section 
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 36px;
        color: $text-color;
    }
    
    p {
        font-family: 'Mulish', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: $text-color;
        line-height: 1.5;
        text-align: center;
    }
}

.social-links {
    display: flex;
    gap: 20px;
    
    button {
        background-color: $hover-text-color;
        color: $text-color;
        border: 2px solid transparent;
        border-radius: 10px;
        outline: none;
        padding: 10px 15px;
        font-size: 20px;
        transition: all 0.5s;
        cursor: pointer;
        box-shadow: 0 0 10px $text-color;
        &:hover {
            background-color: $dark-background-color;
            color: $hover-text-color;
        }
        
    }

    a {
        color: #000;
        font-size: 28px;
        padding-top: 8px;
        transition: all 0.3s;

        &:hover{
            color: #0077B5;
            transform: scale(1.1) translateY(-5px);
            &:hover:last-child {
                color: #2b3137;
            }
        }
    }

    a:last-child {
        font-size: 30px;
        padding-top: 7px;
    }
   
    
}

// skill section 
.skills-section {
    width: 500px;
    display: flex;
    margin-top: 70px;
    
    h2 {
        font-family: 'Orbitron', sans-serif;
        font-size: 28px;
        color: $text-color;
        cursor: pointer;
        
        &::after {
            content: '|';
            margin-left: 30px;
        }
    }


   ul {
    display: flex;
    gap: 20px;
    font-size: 28px;
    list-style: none;
    
    li {
        font-size: 30px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1) translateY(-5px);
            color: #FF0000;
            
            &:hover:nth-child(2) {
                color: #2965f1;
            }

            &:hover:nth-child(3) {
                color: rgb(219, 219, 55);
            }

            &:hover:nth-child(4) {
                color: #3178c6;
            }

            &:hover:nth-child(5) {
                color: #00d8ff;
            }

            &:hover:nth-child(6) {
                color: #c3002f;
            }

            &:hover:nth-child(7) {
                color: #CD6799;
            }

            &:hover:nth-child(8) {
                color: #06b6d4;
            }

        }
    }

   }
}


// responsive design for profile section
@media only screen and (max-width: 1280px) {

   .profile-content {
    flex-wrap: wrap;
    
    img {
        transition: all 0.5s ease-in-out;
    }
   }
}

// for mobile devices
@media only screen and (max-width: 768px) { 
    
    .profile-content {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 30px;
    }

    .left {
        background-color: transparent;

        img {
            width: 300px;
            height: 400px;
            transition: all 0.5 ease-in-out; // making decreasing of image width smooth
        }
    }

    .right {
        h1 {
            font-size: 32px;
        }

        p {
            font-size: 18px;
        }
    }

    .social-links{
            
        button {
            font-size: 18px;
            padding: 4px 10px;
        }

        a {
            font-size: 22px;
        }

        a:last-child {
            font-size: 24px;
        }
    }

    .skills-section {
        width: 480px;

        h2 {
            font-size: 22px;
        }
        
        ul {
            font-size: 22px;

            li {
                font-size: 24px;
            }
        }
    }

    

    
}