//flex style for navigation bar
@mixin menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

// style for responsive navigation bar
@mixin horizontal-navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

// style for mobile nabigation bar while opening it
@mixin inset($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }

// flex style for my profile content
@mixin Profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: $background-color;
}
