//flex style for navigation bar
@mixin menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

// style for responsive navigation bar
@mixin horizontal-navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

