// colors for light mode
$background-color: #f9f9f9;
$text-color: #141618;
// color for dark theme
$dark-background-color: #1f2833;
$dark-text-color: #ebe9e1;

// hover colors 
$hover-background-color:#bab2b5;
$hover-text-color: #2e9cca;

// button colors
$button-color: #4285f4;
