@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
    @include menubar;
    background-color: $background-color;
}

// Styling left section
.left-navbar {
    display: flex;
    padding: 20px;
        
        button {
            font-family: "Pacifico", cursive;
            font-size: 30px;
            font-weight: 500;
            color: $text-color;
            border: none;
            background-color: transparent;

            &:hover {
                color: $hover-text-color;
                transition: all 0.2s;
                cursor: pointer;
            }
    }
}

// Styling right section
.right-navbar {
    
    ul {
        display: flex;
        gap: 15px;
        list-style-type: none;

            button {
                background-color: transparent;
                border: none;
                color: $text-color;
                font-size: 18px;
                font-weight: 600;

                &:hover {
                    color: $hover-text-color;
                    transition: all 0.2s;
                    cursor: pointer;
                }
            }
        
    }
}


@media only screen and (max-width: 768px) {
    .right-navbar {
        display: none;
    }

    .logo {
        position: absolute;
        top: 10px;
        left: 40%;
    }
    
}